.container {
  max-width: 440px;
}

.btn-left {
  background-color: rgb(0, 0, 0);
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: auto;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  height: 140px;
  left: 0px;
  line-height: 28px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 0px;
  width: 20px;
  zoom: 1;
}

.btn-right {
  background-color: rgb(0, 0, 0);
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: auto;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  height: 140px;
  left: auto;
  line-height: 28px;
  position: absolute;
  right: 0px;
  text-align: center;
  text-decoration: none;
  top: 0px;
  width: 20px;
  zoom: 1;
}

.rotating-nav-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.rotating-nav-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
  transition: .6s ease-in-out left;
  width: 200px;
}

.rotating-nav-inner > .item > img, .rotating-nav-inner > .item > a > img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  line-height: 1;
}

.rotating-nav-inner > .active {
  left: 20px;
}

.rotating-nav-inner > .active2 {
  left: 20px;
}

.rotating-nav-inner > .active, .rotating-nav-inner > .active2, .rotating-nav-inner > .next, .rotating-nav-inner > .prev {
  display: inline-block;
}